@import "../../vars.css";

.container {
    margin-top: 120px;
    padding: 80px 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: var(--color-bg);
    background-color: var(--color-primary);
}

.left h1 {
    font-size: 60px;
    font-weight: 800;
}

.left h2 {
    font-size: 40px;
    font-weight: 600;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
}

.link img {
    margin-right: 20px;
}

.link a{
    color: var(--color-bg);
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
}

.link a:hover {
    color: var(--color-secondary-highlight);
}

@media screen and (max-width: 830px){
    .container {
        flex-direction: column;
        padding: 10%;
        gap: 40px;
    }

    .left h1 {
        font-size: 40px;
    }
    .left h2 {
        font-size: 25px;
    }

    .left{
        text-align: center;
    }

    .link img {
        margin-right: 10px;
        width: 35px;
    }

    .link a {
        font-size: 18px;
        
    }
}